body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 30px 90px;
    background-color: #f4f4f4;
}

header { 
    background: url('../images/bg_header_blue.jpg');
    color: rgb(255, 255, 255);
    width: 100%;
}

#first_info{
    padding : 5px 0 0 20px;
}

#h_info{
    margin: 5px 0;
}

#quote{
    padding : 0 0 0 20px;
}
cite {
    padding : 0 0 0 220px;
    margin: 0;
}

#profilephoto {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
    right: 120px;
}

hr {
    width: 100%;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border: none;
    margin: 0;
}

.about-me{
    padding: 20px;
    display: inline-block;
}

div.title-icon figure{
    display: inline-block;
    margin: 0;
    padding: 0;
}

div.title-icon figure img {
    width: 30px;
    vertical-align: middle;
    display: inline;
}

div.title-icon figure h2 {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle; /* Alinea el texto verticalmente con el ícono */
}